:root{
    --write : #fff;
    --red: rgb(255, 0, 0);
    --black: #333;
}

/*Selector universal*/
*{
    box-sizing: border-box; /*Agrega ciertos estilos al renderizar el navegador*/
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%; /*Para utilizar rem (medida relativa en vez de px)*/
    font-family: Arial, Helvetica, sans-serif
}

body{
    text-align: center;
}

h1{
    color: var(--red);
    margin-bottom: 5px;
}
 
p{
    font-size: 1.2rem;
}

.header-container div{
    background-color: blue;
    width: 70%;
    margin: 5px auto;
    color: var(--write);
    font-size: 1.8rem;
    box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.91);
    border-radius: 5px;
}

.header-container div span{
    font-size: 1rem;
    font-weight: 100;
    margin-left: 10px;
}

.main-container{
    height: 100vh;
    display: flex;
}

.container{
    width: 70%;
    border: 1px solid var(--black);
    margin: auto;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    word-wrap: break-word;
    padding: 5px;
} 

